body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #fffbea, #fff3cd);
  padding: 20px;
  color: #4e3400;
}

h1 {
  text-align: center;
  color: #d4a017;
  font-size: 26px;
  margin-bottom: 30px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.galeria img {
  border-radius: 15px;
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

#malla-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.semestre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 90%;
  margin-bottom: 30px;
}

.semestre h2 {
  grid-column: span 2;
  text-align: center;
  font-size: 16px;
  color: #b8860b;
  margin-bottom: 10px;
}

.ramo {
  padding: 10px;
  font-size: 16px;
}

.ramo:hover {
  transform: scale(1.03);
  background-color: #ffe066;
}

.ramo.bachillerato {
  background-color: #fef3b3;
}

.ramo.traduccion {
  background-color: #fddc88;
}

.ramo.interpretacion {
  background-color: #ffe066;
}

.ramo.tachado {
  text-decoration: line-through;
  opacity: 0.5;
}





@media (max-width: 768px) {
  .semestre {
    width: 100%;
    margin-bottom: 30px;
  }

  .ramo {
    font-size: 14px;
    padding: 8px;
  }

  h2 {
    text-align: center;
  }
}

@media (min-width: 769px) {
  .ramo.anual {
    grid-column: span 2;
  }
}